<footer>
  <div class="f_container">
    <div class="f_terms_container">
      <span>&copy; ListNStay privateLMT</span>
      <span class="separator">&middot;</span>
      <a href="#">Privacy</a>
      <span class="separator">&middot;</span>
      <a href="#">Terms</a>
      <span class="separator">&middot;</span>

      <a href="">Your Policy Choices</a>
    </div>

    <div class="f_social_container">
      <a href=""> &#x1F310;English (US)</a>
      <a href=""><i class="fa-brands fa-square-facebook"></i></a>
      <a href=""><i class="fa-brands fa-x-twitter"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</footer>
