<% layout("./layouts/boilerplate.ejs") %>
    <!-- <div>
      <h2>all Listings</h2>
      <form action="listingNew" method="get">
        <button>Add new Listing</button>
      </form>
      <ul>
        </div> -->

        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1"> 
  <% for(datum of data) { %>
    <div class="card col">
      <a href="/listing/<%= datum._id %>" class="listing-link">
        <div class="card">
          <img src="<%= datum.image.url %>" class="card-img-top" alt="listingimg">
           <div class="card-img-overlay"></div>
          <div class="card-body" >
            <p class="card-text"><b><%= datum.title %></b></p>
            <p class="card-text">₹<%= datum.price.toLocaleString("en-IN") %></p>
          </div>
        </div>
      </a>
    </div>
  <% } %>
</div>
        
<!-- </ul> -->
    
  
