<% layout("./layouts/boilerplate.ejs")%>

<div class="alert alert-danger w-auto text-break mt-5 err_content" role="alert">
  <h3><%= err.status%> <%= err.message%></h3>
  <!-- <p><%= err.stack%></p> -->
</div>
